.donationBlock{
    display: inline-block;
    margin-right:10%
}

.donationMain{
    display:flex;
    padding-left: 4%;
    padding-right:4%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.poster{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),url('./poster.jpeg');
    border-radius: 25px;
    background-size: cover;
    height:43vh;
    margin-top:28%;
    padding-top:15%;
}

.poster p{
    font-family: 'Lato', sans-serif;
    color:white;
    font-size:1.2rem;
    line-height:1.7em;
    margin-left:9%;
    margin-right:7%;
    font-weight: bold;
}